@font-face {
    font-family: Bits;
    src: url("fonts/EightBitDragon-anqx.ttf")  format('truetype');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

.navbar { 
    display: flex;
    background-color: #0B4694;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
}
 
.item {
    border-bottom: 5px solid #FCBD19;
    height: 5em;
    width: 80px;
    background-color: #0B4694;
}

.brand {
    flex-grow: 6;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    padding-left: 20px;
}

.item img {
    height: auto;
}

.text {
    flex-grow: 6;
    display: flex;
    align-items: center;
}

.login {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #FCBD19;
}

/* Modal css */ 
    body {font-family: Arial, Helvetica, sans-serif;}
    /* The Modal (background) */

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        top: 50px;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 10px ridge #FCBD19;
        border-radius: 55px;
        width: 35em;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {top:-300px; opacity:0} 
        to {top:50; opacity:1}
    }

    @keyframes animatetop {
        from {top:-300px; opacity:0}
        to {top:50; opacity:1}
    }

    @keyframes animateout {
        from {top:50; opacity:1}
        to {top:-300px; opacity:0}
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    /* .close:hover, .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    } */

    .modal-header {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* .header-close {
        background-color: #FCBD19;
    } */

    .header-text {
        padding: .3em 2em;
        border-radius: 50px;
        background-color: #0B4694;
        position: relative;
        top: -12px;
        font-family: Bits, sans-serif;
    }

    .modal-body {
        padding: 2px 16px;
        display: grid;
        grid-template-columns: 90%;
        grid-auto-rows: 40px;
        justify-content: center;
        align-content: center;
        gap: 10px;
    }

    .form-input {
        border: 1px solid whitesmoke;
        border-radius: 200px;
        padding: 1.5em 1em;
        box-shadow: 2px 3px 3px Silver;
        outline: 1px none #FCBD19;
    }

    .form-input:active, .form-input:focus {
        border: 1px solid #FCBD19;
    }

    .modal-footer {
        /* background-color: #5cb85c; */
        color: white;
        display: flex;
        justify-content: center;
    }

    .modal-footer button {
        cursor: pointer;
        position: relative;
        top: 18px;
        border-radius: 15px;
        border: none;
        padding: .5em 2em;
        color: FireBrick;
        font-family: Bits, sans-serif;
        font-size: medium;
        font-weight: bold;
        transition: border .3s;
    }

    .modal-footer button:hover {
        border: 2px solid #FCBD19;
        
    }

    .modal-footer button:active {       
        font-size: large;
    }
    /* --- */

    @media (max-width: 768px) {
        .text {
            display: none;
        }
        
        .modal-content {
            width: 80%;
        }
    }